#body_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

span {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: 'Sunflower', sans-serif;
}

#body_photo > div {
  width: 100%;
}

.photo > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.photo img {
  width: 100%;
}
.photo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.photo img:hover {
  transform: scale(1.5);
}

img:hover img {
  scale: 2;
}
