#body_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
#body_photo > div {
  width: 100%;
}

span {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: 'Sunflower', sans-serif;
}

.photo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.photo > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.photo img {
  width: 100%;
}

.photo img:hover {
  animation: scale 1.5s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
