#background {
  width: 70%;
  margin: auto;
}

#body_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: 'Sunflower', sans-serif;
}

.photo img {
  width: 40%;
  margin: 5px;
}
.photo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.photo img:hover {
  transform: scale(1.5);
}

img:hover img {
  scale: 2;
}
