body {
  background-color: mistyrose;
}

#background {
  width: 70%;
  margin: auto;
}

#head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#head a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#head img {
  width: 50%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
  font-size: 30px;
  font-weight: 700;
}
#body {
  width: 100%;
}
